/* REMOVENDO O ESPAÇAMENTO DE TODO O SITE ATRAVÉS DO COMANDO '*' */
* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    background-color: #000;
    
}

/*** HEADER ***/

header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 30px;
  background-color: #000;
}

#logo {
  width: 200px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
  font-size: small;
}

input[type="search"] {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  color:#000000;
  background-color: #ffffff;
}

input[type="submit"] {
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #545454;
}

form {
  display:flex;
  justify-items: center;
}

ul {
  display: flex;
  margin-right: 20px;
  height: 100%;
  align-items: center;
}

nav ul li  {
  list-style-type: none; /* Pontos que são criados, por padrão em listas */
  margin-left: 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 860px) {
  header {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
  }

  #logo {
    margin-bottom: 30px;
  }

  nav {
    flex-wrap: wrap-reverse;
  }

  ul{
    display: none;
  }

}

.dropdown {
  position:relative;
  display: flex;
  margin-left: 30px;
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #8d8d8d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #808080}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media (min-width: 859px) {
  .dropdown {
    display: none;
    margin-left: 0;
  }
}

.btn-1 {
  background-color: #ff0000; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  font-size: 16px;
  cursor: pointer;
}

.btn-1:hover {
  background-color: #c80000;
}

.btn-2 {
  background-color: #ff0000; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.btn-2:hover {
  background-color: #c80000;
}

@media (max-width: 970px) {
  .btn-2 {
    display: none;
  }

  .btn-1 {
    display: none;
  }
} 

/****************************/

/****** CONTEÚDO ******/
  
  main {
    margin-top: 30px;
  }
  
  footer {
    background-color: #000;
  }

  
.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-grid2 {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.book {
  display: flex;
  flex-direction:column;
  
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
}

.est {
  display: flex;
  justify-content: center;
}

#pT {
  font-size:medium;
}

#pA {
  font-size: small;
  color:#8e8e8e ;
}

#pT2 {
  font-size:x-small;
}

#pA2 {
  font-size:xx-small;
  color:#8e8e8e ;
}

#p2 {
  
  color: #fff;
  background-color: #fc0000;
}


/* Adicionar o número ao lado da imagem do livro */

#img1 {
  display: flex;
  justify-content:space-around;
  align-items:flex-start;
}

#sp1 {
  margin-left: 35%;
  margin-top: 10px;
}

#btn {
  background-color: #fc0000;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
}

#imgh5 {
  background-color: #fc0000;
  margin-right: 5px;
  padding-top: 2px;
}

.top-5 {
  margin-bottom: 20px;
  margin-top: 50px;
}

@media (max-width: 860px) {
  .top-5 {
    margin-top: 20px;
  }
}

.pr {
  margin-top: 60px;
  margin-bottom: 20px;
}

.estrela {
  width: 5;
  height: 5;
}

h4 {
  padding-bottom: 3px;
}

