/* REMOVENDO O ESPAÇAMENTO DE TODO O SITE ATRAVÉS DO COMANDO '*' */
* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    background-color: #000;
    
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 12px;
    background-color: #000;
    margin-bottom:0%;
  }
  
  nav {
    /* Podemos usar as propriedades abaixo para alinhas todos os elementos filhos do elemento 'nav' no centro do eixo */
    display: flex;
    align-items: center;
    font-size: small;
  }

  ul {
    display: flex;
    margin-right: 16px;
    /* Podemos aplicar as duas propriedades abaixo para alinhas os elementos 'li' no centro do eixo */
    height: 100%;
    align-items: center;
  }

  @media (max-width: 800px) {
    ul {
      display: none;
    }
  }

  nav ul li {
    list-style-type: none; /* Pontos que são criados, por padrão em listas */
    margin-left: 16px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  main {
    margin-top: 30px;
  }
  
  footer {
    background-color: #000;
  }

  .dropdown {
    position:relative;
    display: inline-block;
  }
  
  @media (min-width: 699px) {
    .dropdown {
      display: none;
    }
  }
  
  .dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  .btn-1 {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn-1:hover {opacity: 1}
  
  
  
  .btn-2 {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  
  .btn-2:hover {opacity: 1}

  .book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.book {
  display: flex;
  flex-direction:column;
  
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
}

#pT {
  font-size:small;
}

#pA {
  font-size: x-small;
  color:#8e8e8e ;
}


#p2 {
  margin-left: 10px;
  color: #fff;
  margin-bottom: 20px;
}


/* Adicionar o número ao lado da imagem do livro */

#num1 {
  margin-right: 10px;
  
}

#img1 {
  display: flex;
  justify-content:space-around;
  align-items:flex-start;
}

#sp1 {
  margin-left: 35%;
  margin-top: 10px;
}


