@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  z-index: -1;
  background-color: #000000;
}

/****** HEADER ******/

header {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 10px;
  max-width:100%;
  margin: 10px 20px 10px 30px;
}

#logo {
  width:200px;
  height: 100px;
  margin-bottom: 30px;
}

nav {
  font-size:small;
  display: flex;
  align-items: center;
}

ul {
display: flex;
justify-content:space-between;
list-style-type: none;
margin-right: 16px;
margin-left: 16px;
}

@media (max-width: 700px) {
  nav ul {
    display: none;
  }

  header {
    margin: 30px;
    justify-content:space-between;
  }
}

li {
margin-right: 25px;
}

a {
text-decoration: none;
color: aliceblue;
}

.dropdown {
  position:relative;
  display: inline-block;
}


.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.container {
    background-color: #000000;
    border-radius: 5px;
    /* border: 2px solid #3E445B; */
    width: 450px;
    max-width: 100%;
}

@media (min-width: 699px) {
  .dropdown {
    display: none;
  }
}


/*************************************/

/****** CONTEÚDO ******/

main {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  margin: 0%;
}

.form {
    padding: 0 40px 30px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-control input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;
    display: block;
    font-size: 20px;
    width: 100%;
    padding: 15px;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
    
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control i {
    position:absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background-color: #6C63FF;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #584ff5;
    transition: 0.3s;
}

h1 {
    color:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.control {
   display: block;

}

.control label {
  color:#fff;
  margin-bottom: 20px;
}

.control input {
  margin-bottom: 5px;
  border-radius: 5px;
  border:0cap;
  padding-left:5px;

}

#p1 {
    color: #fff;
    margin-bottom: 10px;
}

#p2 {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
}

#div5 {
    margin-top: 30px;
}

#outro {
    margin-left: 20px;
}

.ep {
    margin-left: 20px;
}

/***********************************************/

/****** ESTILOS DINÂMICOS PARA OS INPUT's ******/

.required-popup::after {
  content: "*Campo obrigatório";
  position:relative;
  top: 0;
  right: 0;
  color: #ffee00;
  font-size: .65rem;
  padding: .2rem .8rem;
  width:auto;
  display:block;
}

input.error .img-error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct .img-success {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
  color: #DB5A5A;
}

.helper-text {
  display: none;
  color: crimson;
}